// adobe project
@import url('https://use.typekit.net/fro7qfy.css');

$POOPINS_FONT: poppins, sans-serif;;
$RUBIK_FONT: rubik, sans-serif;


$PRE_Crohn_Blue:#117BA3;
$PRE_Crohn_Red:#E76A47;
$PRE_Crohn_Black:#303135;
$PRE_Crohn_Blue_light:#E5F8FF;
$PRE_Crohn_Green:#80AD03;
$PRE_Crohn_White:#FFFFFF;
$PRE_Crohn_Body_Background:#f2f3f5;

html {
  background: #E4E4E4;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  z-index: 9999; /* Ensure it appears on top */
}
.error-field {
  color: red;
}
input.error-field {
  border: 2px solid red;
  color: black;
}
body {
    font-family: $POOPINS_FONT ;
    //background-color:$PRE_Crohn_Body_Background;
    display: flex;
    justify-content: center;
    background-color: transparent !important;
  }
  /* Sidebar styles */
.sidebar {
  width: 240px;
  position: fixed;
  top: 64px; /* Adjust according to your AppBar height */
  left: 0;
  height: calc(100% - 64px); /* Adjust according to your AppBar height */
  z-index: 1; /* Lower than AppBar */
}

main.questionnaire{
  background:#E5F8FF ;
}

.qstn-body .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  height: 7px !important;
  font-size: 16px;
}
  #root{
    width: 100%;
    height: 100%;
    //max-width: 1440px;

    background-color:$PRE_Crohn_White ;

    
    .bigger-container-option{
      display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    
    .button-survey{
      background: #80AD03;
      font-size: 20px;
      font-weight: 600;
      min-width: 160px;
      border-radius: 12px;
    }
    .button-survey.bigger{
      padding: 12px 60px 14px 60px;
    max-width: 340px;
    line-height: 24px;
    font-size: 20px;
    text-transform: none;
    }
    }
   
    .login{
      width: 100%;
      height: 100vh;

      .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #1976d3; /* Same as header color */
        border-radius: 10px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Optional: Set track color */
    }
    
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #145a86; /* Darker shade for hover */
    }
    
    .custom-scrollbar::-webkit-scrollbar-button {
        display: none; /* Removes the scrollbar arrows */
    }
    }
    
    .sidebar {
      background-color: #f8f9fa; /* Light background color */
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
    }

    .home{
      padding: 0 !important;
      margin: 0 !important;
      max-width: 100% !important; 
      
      .down{
        display: flex;
        margin-top: 60px;
        gap: 80px;
        justify-content: center;
        max-width: 100% !important; 
        .col-md-auto{
          padding: 0px !important;
        }

      }

    }
   
      .title-content{
        background-image: url("/header-background.svg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        width: 100%;
        height: 209px;
        position: relative;
        top: -13px;
        padding-top: 13px;
        padding-left: 163px;
        display: flex;
        align-items: center;
        margin-bottom: 45px ;

        h1{
          color: $PRE_Crohn_White;
          font-family: $POOPINS_FONT;
          font-weight: 700;
          font-size: 44px;
          line-height: 32px;
        }
      }

    .content-container{
      padding: 0px !important;
      margin-left: 260px  !important;
      margin-right: 300px !important;
      max-width: 880px !important;
      .container{
        padding: 0px !important;
      }
     
       section{
        margin-top: 0px !important;
        margin-bottom: 20px !important;
        
       }
          
            h2{
              color: $PRE_Crohn_Blue;
              font-family: $POOPINS_FONT;
              font-weight: 700;
              font-size: 36px;
              margin-bottom: 20px;
            }
            h3{
              color: $PRE_Crohn_Black;
              font-family: $POOPINS_FONT;
              font-weight: 600;
              font-size: 20px;
              margin-bottom: 20px;
              line-height: 1.3em;
            }
            ul{
              padding-left: 25px;
            }
            p,li{
              color: $PRE_Crohn_Black;
              font-family: $POOPINS_FONT;
              font-weight: 400;
              font-size: 19px;
              margin-bottom: 16px;
            }


            .container-card{
              gap: 68px ;
              margin-top: 40px !important;
              margin-bottom: 50px !important;
              .card{
                  padding: 21px !important;
                  max-width: 400px !important;
                  border : 2px solid $PRE_Crohn_Blue !important;
                  background-color: transparent;
                  border-radius: 12px !important;
                  padding-bottom: 30px !important;
                  .card-body{
                    gap:0px;
                  
                    .card-title{
                      color:#597D0B;
                      font-size: 22px;
                      font-weight: 700;
                      font-family: $POOPINS_FONT ;
                    }
                    .card-subtitle{
                      color:$PRE_Crohn_Black;
                      font-size: 15px;
                      font-weight: 600;
                      font-family: $POOPINS_FONT ;
                    }
                    .card-text{
                      color:$PRE_Crohn_Black;
                      font-size: 18px;
                      font-weight: 400;
                      font-family: $POOPINS_FONT ;
                      margin-top: 21px ;
                      
                    }
                  }
                    .card-text{
                      font-size: 18px;
                    }
              } 
              .background-card {
                
                  background: #80AD03;
                  border: 0px solid #597D0B !important;
                  border-radius: 24px !important;
                  padding: 28px 53px 39px 55px !important;

                  .card-body{
                    gap:30px;

                    .card-title{
                      color:white;
                      font-weight: 600;
                      line-height: 1.35em;

                    }
                  }
              }
              
            }
    
            
        
      

    }
   
    
  .card{
    background-color: $PRE_Crohn_Green;
    border: none !important;
    max-width: 600px;
    width: 600px;
    padding-left: 37px;
    padding-bottom: 52px;
    padding-top: 52px;
    padding-right: 17px;
    border-radius: 24px;
    .card-body{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 43px;
      padding: 0px;
    }
    .card-text{
      color: white;
      font-family: poppins, sans-serif;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 0px;
    }
    a{
      background-color: white;
      padding: 19px;
      border-radius: 15px;
      color: black;
      text-decoration: none;
      font-weight: 700;
      font-family: $RUBIK_FONT;
      text-transform: uppercase;
      font-size: 20px;
      
    }
    a::after {
      content: "";
      display: inline-block;
      margin-left: 8px;
      width: 17px;
      height: 17px;
      background-image: url(/arrow-right.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      top: 3px;
      left: 3px;
    }
  }
  .login-container{

    height: 100vh !important;
    main.login{
      margin-bottom: 21%;
    }
    
  }

  .risk-card-container{
    .risk-card-grid {
      gap: 180px;
      
        .risk-card-description{
          margin-top: 80px;
          .risk-card-title{
            font-size: 24px;
            font-weight: 700;
          }
          .risk-card-text{
            font-size: 19px;
          }
        }
        .pointer-container{
              
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 14px;
          padding-left: 25px;
          min-width: 128px;
          margin-left: 20px;
          p{
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 0px;
            
          }
        }
        .pointer-container.humain{
          padding-right: 17px;
          padding-left: 27px;
        }
        .risk-card-levels{
          display: flex;
          flex-direction: column-reverse;
          justify-content: flex-end;
          margin-top: 34px;
          margin-left: 48px;
          padding: 0px;
            
           
        }
    }

  }
  .behavor-card{
    p{
      font-size: 19px;
      font-weight: 500;
    }
    .behavor{
    p{
      font-weight: 600;
      font-size: 18px;
    }}
    .mixed-component-container{
      .title-container{
        border-bottom: 1px solid #117BA3;
      }
      h6{
        font-size: 21px;
        font-weight: 700;
        
      }
      .risk-card-levels.mixed{
        display: flex;
        flex-direction: column-reverse;
        .pointer-container{
          p{
            
          font-size: 14px;
          font-weight: 700;
        margin: 0px;}
        }
      }
    }
  }



  .questionnaire{
    .button-survey{
      background: #80AD03;
      font-size: 20px;
      font-weight: 600;
      min-width: 160px;
      border-radius: 12px;
    }
    .bigger-container{
      display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    }
    .button-survey.bigger{
      padding: 12px 60px 14px 60px;
    max-width: 340px;
    line-height: 24px;
    font-size: 20px;
    text-transform: none;
    }
    h2{
      font-size: 36px;
      font-family: $POOPINS_FONT;
      font-weight: 700;
      color:#117BA3;
      margin-top: 60px;
      margin-bottom: 40px;
    }
    p ,legend,div,label{
      font-size: 19px;
    }
    legend,label{
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 16px;
    }
    section> fieldset{
      margin-bottom: 15px;
    }
   
  } 
  }
  
